* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-image {
    background-image: url("./images/scotland-1987599_1280.jpg");
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    color: whitesmoke;
    position: absolute;
    margin-top: 260px;
    width: 100%;
    text-align: center;
    font-size: 4rem;
}